.container{
    margin-top: 100px;
    .form{
        h2{
            text-align: center;
            color: red;
        }
        form{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            padding: 25px;
            border-radius: 10px;
                .first-col{
                    margin-top: 20px;
                    input{
                        padding: 30px;
                    }
                }
                .email{
                    margin-top: 5px;
                    input{
                        padding: 30px;
                    }
                }

                .Message{
                    margin-top: 5px;
                    input{
                        padding: 30px;
                    }
                }

                .Additional_Details{
                    margin-top: 5px;
                }

                .send-message{
                    margin-top: 10px;
                    text-align: center;
                    
                    button{
                        width: 100%;
                        height: 8%;
                        background-color: red;
                    }
                }

        }
    }
}


